/*General Content*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Condensed&display=swap');
/*Fonts
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
:root{
  --mainBackgroundColor:  linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(121,9,57,1) 0%, rgba(0,212,255,1) 100%);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.page-container{
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template: 1fr 4fr 1fr / 1fr;
  background-color: rgb(2,0,36) ; /*Backup bgc*/
  background-image: var(--mainBackgroundColor);
}
header{
  display: flex;
  color: white;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;
}
.header_buttons{
  gap:min(0.5rem , 4vw);
}
header button {
  color: inherit;
  font-family: inherit;
  background-color: black;
  border-radius: 0.5rem;
  width: min(6rem ,15vw);
  height: min(3rem , 5vh);
}
header h1:hover {
    background: rgb(31,36,0);
    background: linear-gradient(276deg, rgba(31,36,0,1) 0%, rgba(121,117,9,1) 0%, rgba(0,255,4,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: ease-in 0.4s;
}
/*Main*/
main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.game-board{
  place-content: center;
  width: 50%;
  height: 100%;
  display: grid;
  grid-template: repeat(3 , 140px) / repeat(3 , 140px);
}
.card{
  width: 100%;
  height: 100%;
  background-color: peachpuff;
  border:1px solid black
}
/*Footer*/
footer{
  display: flex;
  color: white;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Josefin Sans', sans-serif;
}
.score {
  background: black;
  height: min(3rem , 5vh);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: min(10rem ,25vw);
  border-radius: 0.4rem;
  border: none;
}
.score > p{
  margin-left:0.5rem;
}
footer button {
  color: inherit;
  font-family: inherit;
  background-color: black;
  border-radius: 0.5rem;
  width: min(6rem ,15vw);
  height: min(3rem , 5vh);
}
